body {
    background-color: #131313;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px;
    background-color: #1E1E1E;
    color: white;
    margin-bottom: 15px;
}

.left, .center, .right {
    display: flex;
    align-items: center;
}

.center {
    justify-content: center;
    flex: 1;
}

.right h3 {
    margin-left: 20px;
}

h3, h4 {
    font-family: Arial;
}

h4 {
    color: #7C7C7C;
}

.rectangle {
    width: 90vw;
    height: 70vh;
    border: 2px solid #A488BF;
    border-radius: 12px;
    margin: 0 auto;
    position: relative;
    padding: 20px;
    display: flex;
    align-items: flex-end;
}

.rectangle h2 {
    margin: 0;
    color: #E0E0E0;
    font-family: Arial;
}

.image {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    height: auto;
    opacity: 0.4;
}
